<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forum</title>
</head>
<body>
	<h1>My Recepten</h1><hr>
	<h2>Recepten:</h2>
	
	{% if recepten %}
		<ul>
    	{% for r in recepten %}
    		<li>
    			{{r}}
    		</li>
    	{% endfor%}
    	</ul>
    {% else %}
    	<p>There are no Recepten yet.</p>
	{% endif %}
	
	<h3>New recept</h3>
	<form action="./" method="post">		
		{% csrf_token %}
		naam:<input type="text" name="naam"><br>
		calorien:<input type="text" name="calorien"><br>
		ingredienten:<input type="text" name="ingredienten"><br>
		tijd:<input type="text" name="tijd"><br>
		
		<input type="submit" name="submit" value="post">	
	</form>
</body>
</html>